* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #45a29e;
  color: #66fcf1;
  color: #0b0c10;
  color: #116466;
  color: #eae7d7;
}
a {
  text-decoration: none;
}
body {
  background-color: #272727;
  width: 95%;
  margin: auto;
}

/* NAVBAR */
#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #116466;
  /* background-color: #2f4454; */
}
#nav-menu div, #nav-menu h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
}
#nav-menu div a {
  text-decoration: none;
  padding: 4px 0.5px;
  font-size: 20px;
}
#nav-menu div div a:hover {
  color: #7ffef6;
}
#nav-menu div div a::after {
  content: "";
  display: block;
  border-bottom: 3px solid #7ffef6;
  width: 0;
  transition: all 0.5s ease-in-out;
}
#nav-menu div a:hover::after {
  width: 100%;
}
.resume {
  margin: 0;  
}
#resume-button-1 {
  padding: 8px 14px;
  font-size: 14px;
  color: #272727;
  background-color: #ace3f3;
  border: none;
}
#resume-button-1:hover {
  background-color: #272727;
  color: #eae7d7;
}

/* ABOUT */
.nav-link {
  margin: 100px auto;
  letter-spacing: 2px;
}
section h1 {
  text-align: center;
  color: #45a29e;
  letter-spacing: 10px;
  margin: 60px auto;
  font-size: 30px;
  font-weight: 1000;
}
#home h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
#user-detail-name {
  margin-top: 150px;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  color: #ace3f3;
}
#home p {
  letter-spacing: 1px;
  line-height: 24px;
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
}
#about>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-img {
  width: 20%;
  /* height: 500px; */
  overflow: hidden;
  border-radius: 300px;
  margin-right: 50px;
}
#about>div>div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
#about>div>div>p {
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-bottom: 16px;
  text-align: justify;
}
#about>div>div>div {
  margin: 16px 0;
}
#about>div>div i {
  margin-right: 20px;
  font-size: 40px;
}
#about>div>div i:hover {
  color: #116466;
}
#resume-button-2 {
  margin-top: 16px;
  padding: 8px 14px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  color: #272727;
  background-color: #ace3f3;
}
#resume-button-2:hover {
  background-color: #116466;
  color: #eae7d7;
}

/* SKILLS */
#skills>div {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
#skills>div .skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#skills .skills-card-img {
  width: 30%;
}
#skills .skills-card-img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
#skills .skills-card-name {
  font-size: 20px;
  margin: 12px auto;
}