* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #45a29e;
  color: #66fcf1;
  color: #0b0c10;
  color: #116466;
  color: #eae7d7;
}
a {
  text-decoration: none;
}
body {
  background-color: #1d1d1d;
  /* background: linear-gradient(90deg ,#111212 ,#181818); */
  /* width: 95%; */
  margin: auto;
}
section h1 {
  text-align: center;
  color: #45a29e;
  letter-spacing: 10px;
  margin: 80px auto;
  font-size: 30px;
  font-weight: 1000;
}

/* NAVBAR */
#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #116466;
  /* background-color: #2f4454; */
}
#nav-menu div, #nav-menu h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
}
#nav-menu div a {
  text-decoration: none;
  padding: 4px 0.5px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
#nav-menu div div a:hover {
  color: #0b0c10;
  transition: all 0.5s ease-in-out;
}
#nav-menu div div a::after {
  content: "";
  display: block;
  /* border-bottom: 3px solid #7ffef6; */
  border-bottom: 3px solid #0b0c10;
  width: 0;
  transition: all 0.5s ease-in-out;
}
#nav-menu div a:hover::after {
  width: 100%;
}
#hamburger {
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  align-items: center;
}
#hamburger span{
  width: 30px;
  height: 4px;
  background-color: #eae7d7;
}

/* RESUME */
.resume {
  margin: 0;  
}
#resume-button-1 {
  cursor: pointer;
  padding: 6px 14px;
  font-size: 18px;
  color: #272727;
  background-color: #ace3f3;
  border: none;
  transition: all 0.5s ease-in-out;
}
#resume-button-1:hover {
  background-color: #272727;
  color: #eae7d7;
  transition: all 0.5s ease-in-out;
}
#resume-button-2 {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px 14px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  color: #272727;
  background-color: #ace3f3;
  transition: all 0.5s ease-in-out;
}
#resume-button-2:hover {
  background-color: #272727;
  color: #eae7d7;
  transition: all 0.5s ease-in-out;
}
/* #home #resume-button-2 {
  margin-top: 30px;
} */

/*HOME / ABOUT */
.wrap {
  color: #45a29e;
}
#home {
  margin: 120px auto;
  text-align: center;
}
#home h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
#user-detail-name {
  margin-top: 150px;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  color: #ace3f3;
}
#home p {
  letter-spacing: 1px;
  line-height: 26px;
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
}
#about>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-img {
  width: 20%;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 50px;
  transform: scale(1);
  transition: transform 0.75s ease-out;
  border: 4px solid #272727;
}
.home-img:hover {
  transform: scale(1.2);
  transition: transform 0.75s ease-out;
}
#about {
  margin: 120px auto;
  background: linear-gradient(0deg ,#116466 ,#4b4f4f);
  padding-bottom: 60px;
  padding-top: 5px;
}
#about .resume {
  margin: 0;
}
#about>div>div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
#about>div>div>p {
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-bottom: 16px;
  text-align: justify;
}
#about>div>div>div {
  margin: 16px 0;
}
#about>div>div i {
  margin-right: 20px;
  font-size: 40px;
  transition: all 0.5s ease-in-out;
}
#about>div>div i:hover {
  color: #0b0c10;
  transition: all 0.5s ease-in-out;
}

/* SKILLS */
#skills {
  width: 90%;
  margin: auto;
}
#skills>div {
  margin: 30px auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 200px);
  /* grid-template-rows: repeat(3, 200px); */
  gap: 70px;
}
#skills>div .skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  /* border: 1px solid #116466; */
  /* background-color: #272727; */
  box-shadow: #116466 0px 24px 100px 0px;
}
#skills>div .skills-card:hover {
  box-shadow: #116466 0px 30px 60px -12px inset, #116466 0px 18px 36px -18px inset;
}
#skills .skills-card-img {
  width: 75%;
  transform: scale(1);
  transition: transform 0.75s ease-out;

}
#skills .skills-card-img:hover {
  transform: scale(1.2);
  transition: transform 0.75s ease-in;
}
#skills .skills-card-name {
  font-size: 20px;
  margin: 12px auto;
}

/* PROJECT */

#projects>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 75%;
  margin: auto;
}
#projects>div>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}
.project-card {
  height: 300px;
}
.project-card>div {
  width: 50%;
}
.project-card>img {
  width: 30%;
}

/* GITHUB */
#git-stats {
  width: 95%;
  margin: auto;
}
#git-stats>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
#git-stats>div>p:nth-child(1) {
  width: 100%;
  text-align: left;
}
#git-stats>div>p:nth-child(2) {
  width: 100%;
  text-align: center;
}
#git-stats>div>p:nth-child(3) {
  width: 100%;
  text-align: right;
}
#git-stats>div>p>img {
  width: 30%;
}

/* CONTACT */
#contact {
  box-shadow: #116466 0px -30px 36px -12px inset, #116466 0px -18px 36px -18px inset;
  /* box-shadow: #116466 0px -50px 36px -28px inset ; */
  text-align: center;
  margin: 40px auto 0 auto;
  background: linear-gradient(60deg ,#232424 ,#313232);
  /* background: #343838; */
  padding: 4px;
}
#contact h1 {
  margin: 40px;
}
#contact>p {
  /* color: #ace3f3; */
  font-size: 18px;
  letter-spacing: 1px;
}
#contact>p:nth-child(3) {
  margin: 6px 0 40px 0;
}
#contact-info {
  display: flex;
  justify-content: center;
  padding: 8px;
  align-items: center;
  margin: 10px 0;
}
#contact-info i {
  color: #ace3f3;
  font-size: 32px;
  margin-right: 12px;
  width: max-content;
  transition: all 0.25s ease-in-out;
}
#contact-info i:hover {
  color: #0b0c10;
  transition: all 0.25s ease-in-out;
}
#contact-info p {
  /* color: #0b0c10; */
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}


/* Responsive */
@media screen and (max-width:400px) and (min-width:400px) {
  
}